body {
    background-color: rgb(27, 27, 27);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-flow: column nowrap;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

h3 {
    color: white;
}

.form-select {
    max-width: 90;
}

div.input-group {
    max-width: 700;
}