body {
    background-color: rgb(218, 218, 218);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-flow: column nowrap;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.form-select {
    max-width: 80;
}

div.input-group {
    max-width: 700;
}