body {
    background-color: rgb(27, 19, 54);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-flow: column nowrap;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

h2 {
    color: rgb(39, 119, 238);
    margin-bottom: 30;
}

.form-select {
    max-width: 90;
}

div.input-group {
    max-width: 700;
}